[submodule "xsoup"]
	path = xsoup
	url = https://github.com/code4craft/xsoup.git
[submodule "jsoup"]
	path = jsoup
	url = https://github.com/jhy/jsoup.git
[submodule "FlatUI"]
	path = FlatUI
	url = https://github.com/eluleci/FlatUI.git
[submodule "MaterialEditText"]
	path = MaterialEditText
	url = https://github.com/rengwuxian/MaterialEditText.git
[submodule "RippleEffect"]
	path = RippleEffect
	url = https://github.com/traex/RippleEffect.git
[submodule "AlertDialogPro"]
	path = AlertDialogPro
	url = https://github.com/fengdai/AlertDialogPro.git
[submodule "AnimatedExpandableListView"]
	path = AnimatedExpandableListView
	url = https://github.com/idunnololz/AnimatedExpandableListView.git
[submodule "PullRefreshLayout"]
	path = PullRefreshLayout
	url = https://github.com/baoyongzhang/android-PullRefreshLayout.git
[submodule "MaterialDesignIcons"]
	path = MaterialDesignIcons
	url = https://github.com/google/material-design-icons.git
[submodule "DrawerArrowDrawable"]
	path = DrawerArrowDrawable
	url = https://github.com/ChrisRenke/DrawerArrowDrawable.git
