[submodule "xsoup"]
	path = xsoup
	url = https://github.com/code4craft/xsoup.git
[submodule "jsoup"]
	path = jsoup
	url = https://github.com/jhy/jsoup.git
[submodule "FlatUI"]
	path = FlatUI
	url = https://github.com/eluleci/FlatUI.git
[submodule "MaterialEditText"]
	path = MaterialEditText
	url = https://github.com/rengwuxian/MaterialEditText.git
[submodule "LDrawer"]
	path = LDrawer
	url = https://github.com/ikimuhendis/LDrawer.git
[submodule "RippleEffect"]
	path = RippleEffect
	url = https://github.com/traex/RippleEffect.git
[submodule "AlertDialogPro"]
	path = AlertDialogPro
	url = https://github.com/fengdai/AlertDialogPro.git
[submodule "PullToRefresh"]
	path = PullToRefresh
	url = https://github.com/Bencodes/PullToRefresh.git
[submodule "AnimatedExpandableListView"]
	path = AnimatedExpandableListView
	url = https://github.com/idunnololz/AnimatedExpandableListView.git
